body{
    /* Background pattern from subtlepatterns.com */
    /*background: url("/opt/lampp/htdocs/webowe/img");*/
    background-image: url('https://image.ibb.co/goeeNm/swirl_pattern.png');
    color: #AAAAAA;
	font-family: "Helvetica", sans-serif;
    padding-top: 10%;
}

/* links */
a:link{
    color: #FFC300;
    text-decoration: none;
}
a:visited{
    color: #FFC300;
text-decoration: none;
}
a:hover{
    color: #EEB200;
    cursor: pointer;
    text-decoration: none;
}

h1{
    font-size: 180px;
    color: #ffffff ;
    text-align: center;
    font-family: "Arial";
}

h2{
    font-family: 'Raleway', sans-serif;
    color: #AAAAAA;
    letter-spacing: 2pt;
}

/* divs */

#maindiv{
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
}

#leftcontainer{
    float: left;
    width: 200px;
    margin-right: 10px
}

#leftmenu{
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

    height: auto;

    font-family: 'Raleway', sans-serif;
    color: #AAAAAA
    font-size: 20px;
    background-color: rgb(255, 255, 255, .7);
    text-align: center;
}

.leftmenutile{
    
    height: 22px;
    width: 130px;
    padding-top: 2px;
    margin-left: 35px;
    background-color: rgba(153, 153, 153, 0.6);
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    transition: color 0.1 ease-in-out;


    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2pt;
}

.leftmenutile:hover{
    background-color: rgba(255, 195, 0, 1);
    color: #FFFFFF;
    cursor: pointer;
    transform: scale(0.9);
}

#middlecontainer{
    float: left;
    width: 500px;
}

#rightcontainer{
    float: left;
    width: 300px;
    margin-left: 10px;
}

#profil{
    font-family: 'Raleway', sans-serif;
    color: #AAAAAA
    font-size: 20px;
    background-color: rgb(255, 255, 255, .7);
    text-align: center;
    height: 40px;
}

#matches{
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

    height: 220px;
    overflow: scroll;
    overflow-x: hidden;

    font-family: 'Raleway', sans-serif;
    color: #AAAAAA
    font-size: 20px;
    background-color: rgb(255, 255, 255, .7);
    text-align: center;
}

.numergrupy{
    float:left;
    color: #888888;
    background-color: #FFFFFF;
    font-size: 15px;
    width: 70px;
    text-align:  center;
}

.dopasowanie{
    float: left;
    letter-spacing: 1px;
    color: #888888;
    background-color: #FFFFFF;
    font-size: 15px;
    width: 150px;
    text-align:  left;
}

.indeksy{
    float: left;
    color: #888888;
    background-color: #FFFFFF;
    font-size: 12px;
    width: 70px;
    text-align:  center;
}

#legend{

    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 10px;
    padding-bottom: 20px;

    padding-left: 15%;
    padding-right: 15%;
    height: 20px;

    font-family: 'Raleway', sans-serif;
    color: #AAAAAA;
    font-size: 15px;

    background-color: rgb(255, 255, 255, .7);
    text-align: center;

}

.legendtile{
    float: left;
    margin-right: 5px;
    min-width: 45px;
    max-height: 10px;
}

.legendtile:hover{
    cursor: pointer;
}

#legend .hovertext {
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
}

#legend:hover .hovertext {
    background-color: #FFFFFF;
    visibility:visible;
}


#help{

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 10px;

    height: 220px;
    overflow: scroll;
    overflow-x: hidden;

    font-family: 'Raleway', sans-serif;
    color: #AAAAAA
    font-size: 20px;
    background-color: rgb(255, 255, 255, .7);
    text-align: center;

}

.helppattern{
    float:left;
    color: #888888;
    background-color: #FFFFFF;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 15px;
    width: 50px;
    text-align:  left;
}

.helpdes{
    float: left;
    width: 200px;
    text-align: right;
    background-color: #FFFFFF;
}


.helpflag{
    float: left;
    color: transparent;
    margin-left: 10px;   
    min-width: 5px;
}
.helpflag1{
    float: left;
    color: transparent;
    margin-left: 10px;   
    min-width: 5px;
}
.helpflag2{
    float: left;
    color: transparent;
    margin-left: 10px;   
    min-width: 5px;
}
.helpflag3{
    float: left;
    color: transparent;
    margin-left: 10px;   
    min-width: 5px;
}
.helpflag4{
    float: left;
    color: transparent;
    margin-left: 10px;   
    min-width: 5px;
}

.helptile{

    margin-top: 4px;
}

#zalogowany_logo{
    color: white;
    text-align: left;
}

#mainactivity{
    width: 500px;
    min-height: 600px;
    background-color: rgba(255, 255, 255, .7);
}

#menu{
    width: 600px;
    padding-left: 200px;
}

.menutile{
	float:left;
	
	height: 30px;
	width: 170px;
	margin: 15px;
    padding-top: 5px;
	/*background-color: #FFC300;
    opacity: 0.5;*/
    background-color: rgba(153, 153, 153, 0.6);
	border-radius: 10px;
    transition: transform 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    transition: color 0.1 ease-in-out;


    text-align: center;
    color: #FFFFFF;
	font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2pt;
}

.menutile:hover{
	background-color: rgba(255, 195, 0, 1);
    color: #FFFFFF;
    cursor: pointer;
    transform: scale(0.9);
}


#stopka{
    margin-top: 10px;
    text-align: center;
}


.closebutton {
    position: absolute;
    left: 25px;
    transition: transform 0.1s ease-in-out;
}

.closebutton:hover{
    cursor: pointer;
    color: #FFC300;
    transform: scale(1.7);
}


#logowanie{
	padding-bottom: 15px;
	text-align: center;
	color: #AAAAAA;
	background-color: rgba(255, 195, 255, 0.);
	min-height: 100px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 25px;
	border-radius: 5px;
}

.submitbutton{
	border: 1px solid #dddddd;
	padding: 10px;	
	border-radius: 15px;
	background-color:  #EEEEEE;
}				

/*
#sprawdzbutton{
    transition: transform 0.1s ease-in-out;
    transition: background-color 1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
*/
#sprawdzbutton:hover{
    cursor: pointer;
    transform: scale(1.1);
}				


#popup_logowanie {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #AAAAAA;
}

#popup_rejestracja {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #AAAAAA;
}


#popup_kontakt {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #AAAAAA;
}


.popup_inner{
    position: absolute;
    /*background-color: #ffffff;*/
    background-color: rgba(255, 255, 255, .9);
    top: 30%;
    width: 600px;
    height: auto;
    
    left: 0;
    right: 0;
    margin: 0 auto;
    
    padding: 10px;
    border-radius: 10px;
    
    text-align: center;
}


#focia{
    
}






/*textarea {
    margin: 0;
    border-radius: 0;
    width: 500px;
    font-family: 'Raleway', sans-serif;
}
*/

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 400px;
    color: transparent;
    position: absolute;
    margin: 1px;
}


textarea {
    border: 1px solid #cccccc;
    position: absolute;
    margin: 0;
    border-radius: 0;
    width: 400px;
    height: 400px;
    resize: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #444; /* or whatever */
    background-color: transparent;
}


mark {
    color: transparent;
    background-color: #ffc300; 
}


.mymark{
    background-color: #FFFFFF;
    color: #999999;
    margin-bottom: 3px;
}

.mymark:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}


.backdrop {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #fff; /* or whatever */
    overflow: auto;
    width: 400px;
}


.container{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;

}



.sidenav {
    height: 0px;
    width: 200px;
    position: fixed;

    background-color: rgb(150, 150, 150, .7);
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    text-align: center;
    /*padding-top: 20px;*/
}
/*
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
*/
.sidenav a:hover {
    color: #f1f1f1;
    text-align: center;

}

.sidenav .closebutton:hover{
    cursor: pointer;
    color: #FFFFFF;
    transform: scale(1.7);
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    margin-left: 80px;

}


.sidenav .closebutton{
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    margin-left: 80px;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#opis{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

#tytul_opisu{
    padding-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 2px;
}

/*

span{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDFDF;
    color: #BBBBBB;
    font-weight: bold;
    font-size: 15px;
    width: 40px;
    padding: 2px;
    NOPE letter-spacing: 1px;
    line-height: 10px;
    margin: 0 auto;
    position: relative;

    top: -20px;
    left: 100px;
    text-align: center;
    
    display:none;

}
span:after{
    content:'';
    position:absolute;
    NOPEbottom:-10px;
    NOPEwidth:10px;
    NOPEheight:10px;
    border-bottom:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
    background:#f8f8f8;

}
p{
    float: left;
    position: relative;
    cursor: pointer;
    height: 4px;
}

p:hover span{
    display:block;
}
*/